// ------------- MODALS ------------------------ //
[modal] {
  position: fixed;
  inset: 0;
  z-index: 202020;
  pointer-events: none;

  &[modal-type='main'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  [modal-overlay] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

[modal][is-open] {
  pointer-events: auto;

  &[modal-type='main'] {
    visibility: visible;
    opacity: 1;
  }

  [modal-overlay] {
    opacity: 1;
  }
}

[modal][modal-type='aside'] {
  [modal-inside] {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
}

[modal][modal-type='aside'][is-open] {
  [modal-inside] {
    transform: translateX(0);
  }
}
