/*
 * Breakpoints
 */

$breakpoints: (
  'thumb': 'screen and (min-width: 480px)',
  //sm - tailwind
  'lap': 'screen and (min-width: 768px)',
  //md - tailwind
  'desk': 'screen and (min-width: 992px)',
  //lg - tailwind
  'widescreen': 'screen and (min-width: 1280px)',
  //xl - tailwind
  'widescreen-4k': 'screen and (min-width: 1536px)', //2xl - tailwind
);

@mixin mq($alias) {
  // Search breakpoint map for alias
  $query: map-get($breakpoints, $alias);

  // If alias exists, print out media query
  @if $query {
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No breakpoint found for #{$alias}';
  }
}

body {
  &::before {
    content: 'thumb';
    display: none;
    visibility: hidden;

    @include mq(lap) {
      content: 'lap';
    }

    @include mq(desk) {
      content: 'desk';
    }

    @include mq(widescreen) {
      content: 'widescreen';
    }

    @include mq(widescreen-4k) {
      content: 'widescreen-4k';
    }
  }
}

// -----------------------------------

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  color: #000;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  border: solid 1px black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Set color style to inherit */
.inherit-color * {
  color: inherit;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type='file']:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
  pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

/* Apply "..." at 100% width */
.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Removes native scrollbar */
.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

// ------------ GENERAL --------------//

body {
  text-wrap: pretty;
  --_sizes---screen-height: 100vh;
  --_sizes---screen-height: 100svh;

  @media screen and (max-width: 767px) {
    --_sizes---section-sizer: var(--_sizes---screen-height);
  }
}

svg * {
  transition: fill 0.2s ease-in-out;
}

[truncate] {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-hover='card-image-zoom'] {
  figure {
    overflow: clip;
    img {
      transform: scale(1);
      transition: transform 0.5s ease-in-out;
    }
  }
}

[data-hover='card-image-zoom']:hover {
  figure {
    img {
      transform: scale(1.03);
    }
  }
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 100%;
}

// ---------- FLOATING CTA ---------------//
.floating-cta {
  .button.button.button {
    font-size: clamp(0.625rem, -0.625rem + 6.667vw, 0.875rem);
  }
}

.floating-cta {
  .button:first-child {
    margin-right: -1px;
    position: relative;
    z-index: 2;
  }
  .button:nth-child(2) {
    margin-left: -1px;
    position: relative;
    z-index: 2;
  }
}

.floating-menu-button.is-active .floating-menu-icon line:nth-child(1) {
  transform: rotate(-45deg) translateY(0.35rem);
}

.floating-menu-button.is-active .floating-menu-icon line:nth-child(2) {
  opacity: 0;
}

.floating-menu-button.is-active .floating-menu-icon line:nth-child(3) {
  transform: rotate(45deg) translateY(-0.35rem);
}

.floating-menu-icon line {
  transform-origin: center;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.floating-menu-button.is-active .floating-menu-icon {
  overflow: visible;
}

// ------------- NAV --------------------------//

.header_menu-button.w--open ~ * {
  color: var(--text-color--text-secondary);
  .header_bar-text {
    color: var(--text-color--text-secondary);
  }
}

.nav_item {
  .nav_item-image {
    opacity: 0;
  }
}
.nav_item:hover {
  .nav_link-icon {
    opacity: 0;
  }
  .nav_icon-subtext {
    opacity: 1;
  }
  .nav_item-image {
    opacity: 1;
  }
}

.nav_item:nth-child(odd) {
  .nav_item-image {
    transform: rotate(-6deg);
  }
}

.nav_item:nth-child(even) {
  .nav_item-image {
    transform: rotate(6deg);
  }
}

.header_menu-button .header_menu-icon {
  rect {
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out,
      fill 0.2s ease-in-out;
    transform-origin: center;
  }
}

.header_menu-button.w--open .header_menu-icon {
  rect:first-child {
    transform: translateY(0.68rem) rotate(10deg);
  }

  rect:nth-child(2) {
    opacity: 0;
  }

  rect:last-child {
    transform: translateY(-0.68rem) rotate(-10deg);
  }
}

.header_logo-link {
  @media screen and (max-width: 479px) {
    width: 100%;
  }
}

// ------------ HERO MASK ------------------- //

@media screen and (max-width: 767px) {
  .hero-mask_fig[data-mob-override][data-width] {
    width: 60%;
  }
}

@media screen and (max-width: 479px) {
  .hero-mask_fig[data-mob-override][data-width] {
    width: 70%;
  }
}

.hero-mask_fig[data-mob-override][data-width]:nth-child(odd) {
  justify-self: start;
}

.hero-mask_fig[data-mob-override][data-width]:nth-child(even) {
  justify-self: end;
}

// ------------- HOVER ALBUM ------------ //

.hover-album_item-footer-text,
.hover-album_item-view-icon {
  transition: opacity 0.2s ease-in-out;
}

.hover-album_item-component:hover {
  .hover-album_item-footer-text {
    opacity: 1;
  }
  .hover-album_item-view-icon {
    opacity: 0;
  }
}

.hover-album_item-component:hover + .hover-album_item-imgs-wrap {
  opacity: 1;
  visibility: visible;
}

// ------------ HORIZONTAL SCROLL -------------- //

@media screen and (min-width: 992px) {
  .h-scroll_item:first-child {
    .h-scroll_item-header h3 {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-orientation: mixed;
      margin: 0;
    }
  }
  .h-scroll_item:first-child {
    .h-scroll_item-footer,
    .h-scroll_item-content {
      display: none;
    }
    .h-scroll_fig-1-wrap[data-title-pos] {
      display: flex;
      flex-direction: row;
    }
  }
}

.h-scroll_item:nth-child(even) {
  .h-scroll_fig-1 {
    border-color: var(--base-color-brand--brand-accent-1);
  }
}

.h-scroll_item:nth-child(odd) {
  .h-scroll_fig-1 {
    border-color: var(--base-color-brand--brand-accent-2);
  }
}

@media screen and (min-width: 992px) {
  .h-scroll_item:nth-child(even) {
    .h-scroll_item-title {
      color: var(--base-color-brand--brand-accent-1);
    }
  }

  .h-scroll_item:nth-child(odd) {
    .h-scroll_item-title {
      color: var(--base-color-brand--brand-accent-2);
    }
  }
}

[debug-h-scroll='true'] + .h-scroll_component {
  flex-direction: column;
  .h-scroll_collection {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .h-scroll_fig[data-tab-override][data-width][data-aspect],
  .h-scroll_fig-1-wrap[data-tab-override] {
    width: 80%;
    aspect-ratio: 395 / 255;

    [data-aspect][data-orientation] {
      aspect-ratio: 395 / 255;
    }
  }
}

@media screen and (max-width: 767px) {
  .h-scroll_fig[data-tab-override][data-width][data-aspect],
  .h-scroll_fig-1-wrap[data-tab-override] {
    width: 100%;
  }
}

//------------- IMAGE MOSAIC ------------------//

.img-mosaic_item:nth-child(odd) {
  justify-self: start;
}

.img-mosaic_item:nth-child(even) {
  justify-self: end;
}

.img-mosaic_item:first-child {
  margin-top: 0;
  transform: translateY(0);
}

// --------------- CARDS CTA -------------- //

.cta-cards_card:nth-child(even) {
  margin-top: 50%;
  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
}

// --------------- SLIDER 1 -------------------//
.slider-1_card:hover {
  .button {
    background-color: var(--background-color--background-primary);
    color: var(--text-color--text-primary);
  }
}

.slider-1_nav-button:hover {
  .slider-1_nav-icon {
    circle {
      fill: var(--background-color--background-secondary);
    }
    path {
      stroke: var(--background-color--background-primary);
    }
  }
}

.slider-1_nav-button {
  .slider-1_nav-icon {
    circle,
    path {
      transition:
        fill 0.3s ease-in-out,
        stroke 0.3s ease-in-out;
    }
  }
}

// ----------- MOSAIC 2 ----------------//

@media screen and (max-width: 991px) {
  .img-mosaic_item.is-2:nth-child(odd) {
    .img-mosaic_item-article.is-2[data-align] {
      margin-right: auto;
      margin-left: 0;
    }
  }

  .img-mosaic_item.is-2:nth-child(even) {
    .img-mosaic_item-article.is-2[data-align] {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .img-mosaic_item-article.is-2[data-width] {
    min-width: 83.33%;
  }
}

// ------------ FLASHY GALLERY ---------------- //

.flashy-gallery_component[data-debug='true'] {
  overflow: visible;

  .flashy-gallery_figs-set {
    border: 2px solid lime;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 5 / 4;
    width: 100%;

    .flashy-gallery_figs-set-slot {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .flashy-gallery_figs-set {
      width: 100%;
      height: 100%;
    }
  }
}

.flashy-gallery_component[data-debug='true'] {
  overflow: visible;

  .flashy-gallery_figs-set {
    border: 2px solid lime;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 5 / 4;
    width: 100%;
    height: auto;

    .flashy-gallery_figs-set-slot {
      flex-direction: column;
    }
  }
}

// ------------- ALT COLOR FORM ------------------//
[data-wf--contact-form--variant='alternate'] .form_input::placeholder {
  color: var(--text-color--text-secondary);
}

// ------------- SMALL ACCORDION --------------- //
.small-accordion_header.is-active {
  .small-accordion_icon {
    transform: rotate(180deg);
  }
}

// -------------- STICKY CARDS --------------------//
.sticky-cards_card-button-wrap {
  .button {
    width: 100%;
  }
}

// ------------- MODALS ------------------------ //
[modal] {
  position: fixed;
  inset: 0;
  z-index: 202020;
  pointer-events: none;

  &[modal-type='main'] {
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  [modal-overlay] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

[modal][is-open] {
  pointer-events: auto;

  &[modal-type='main'] {
    visibility: visible;
    opacity: 1;
  }

  [modal-overlay] {
    opacity: 1;
  }
}

[modal][modal-type='aside'] {
  [modal-inside] {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
}

[modal][modal-type='aside'][is-open] {
  [modal-inside] {
    transform: translateX(0);
  }
}

// ------------ BLOG --------------------------- //

.blog_filter-radio-wrap {
  input:checked + .filter_radio-label {
    opacity: 1;
    font-weight: 700;
    text-decoration: underline;
  }
}

.blog_filter-item:first-child {
  .blog_filter-radio-wrap.is-clear {
    display: block;
    .filter_radio-label.is-clear {
      display: block;
    }
  }
}

.blog_card:hover {
  .blog_card-texts {
    background-color: var(--background-color--background-secondary);
    color: var(--text-color--text-secondary);
  }

  .button {
    background-color: var(--background-color--background-primary);
    color: var(--text-color--text-primary);
  }
}

.blog_filter-list-wrap {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

// ------------- CONTACT -------------------//
.hero_map {
  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

// ------------ MAP ----------------------//
.interact-map_map {
  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

.interact-map_filter-list {
  input:checked + .filter_radio-label {
    opacity: 1;
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (max-width: 767px) {
  .interact-map_filter-list {
    input:checked + .filter_radio-label {
      background-color: var(--background-color--background-secondary);
      color: var(--text-color--text-secondary);
      opacity: 1;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

.interact-map_filter-list-wrap {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

// --------------- FAQ -------------------

.faq_header {
  &:after {
    transform: translateY(-50%);
    opacity: 1;
  }

  &:before {
    transform: translateY(-62%);
    opacity: 0;
  }

  &:after,
  &:before {
    font-size: 150%;
    font-weight: 300;
    line-height: 1;
    margin-top: 0.25em;
    display: block;

    position: absolute;
    right: 0;
    top: 50%;

    transition: opacity 0.3s ease-in-out;
  }

  &.is-active {
    &:after {
      opacity: 0;
    }
    &:before {
      opacity: 1;
    }
  }
}

.banner-cta_link {
  position: relative;
  &:after {
    position: absolute;
    height: 0.067em;
    background-color: var(--text-color--text-primary);
    width: 100%;
    bottom: 0em;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  &:hover,
  &:focus {
    &:after {
      animation-name: hover-animation;
    }
  }
}

@keyframes hover-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// ------------------ NEIGHBORHOOD --------------
.interact-map_filter-item:first-child {
  .filter_radio-label.is-clear {
    display: block;
  }
  .filter_radio-wrap.is-clear {
    display: flex;
  }
}
